:root {
    --red: #E50914;
    --black: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*basic elements*/

body {
    background: var(--black);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

.container {
    margin: 0 4%;
}

/* header */

header .container {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 1.25% 4%;
    width: 100vw;
    margin: 0;
}

header .container-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .container-links .logo {
    height: 25px;
    cursor:pointer;
}

header nav {
    margin-left: 40px;
}

header nav a {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 14px;
    margin-right: 20px;
}

header nav a:hover {
    color: #999898;
}

header .user-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
}

header .user-area i {
    margin: 0 15px;
    cursor: pointer;
    
}

header .user-area a {
    margin: 0 15px;
    text-decoration: none;
    color: #e5e5e5;
    font-size: 14px;
}

header .user-area .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

header .user-area .user-profile img {
    border-radius: 5px;
    margin-right: -3px;
}


/*main film*/

.main-film {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../resources/main-title.jpg");
    height: calc(100vh + 65px);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-film .container {
    width: 40%;
}

.main-film .description {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 1.4vw;
    cursor: default;
}

.main-film .film-title {
    margin-top: 5%;
    height: 120px;
}

.button1 {
    background: #ffffff;
    color: #000000;
    border: none;
    padding: 9px 25px 9px 21px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.button2 {
    background: rgba(109,109,110,0.7);
    color: #ffffff;
    border: none;
    padding: 9px 25px 9px 21px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.button1:hover {
    background: #c7c5c5;
}

.button2:hover {
    background: rgba(109,109,110,0.5);
}

.button1 i {
    margin-right: 3px;
}

.button2 i {
    margin-right: 3px;
}

/* carousels */


.carousel-one {
    margin-top: -140px;
}

.carousel-title {
    display: flex;
    align-items:baseline;
}

.carousel-title h2 { 
    font-size: 1.4vw;
    margin: 15px 0;
    cursor: pointer;
}

.explore {
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
    color: #ffffff;
}

.expand {
    display: none;
}

.expand:hover {
    display:block;
}


.title-link:hover + .expand { 
    display: block;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 4px;
}

.items {
    cursor: pointer;
}

.owl-dot span {
    border-radius: 0px;
}

